/* Noah Klein */

.AboutUs {}

.AboutUs .no-wrap {
    white-space: nowrap;
}

.AboutUs .team-names {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AboutUs .team-display-holder {
    min-height: 285px;
}