/* Noah Klein */

@import './themes.css';

.Home .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home .Header .carousel-container {
    position: relative;
    width: 100%;
}

.Home .Header .carousel-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
    pointer-events: none;
}

.Home .Header .title {
    position: fixed;
    top: 0;
    z-index: 0;

    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-shadow: 0 0 5px var(--buckeye-scarlet);
    color: var(--deep-rose);
    z-index: 13;
}

.Home .Header .title img {
    margin-left: 10px;
    height: 3em;
}

.Home .Header .matlack {
    position: relative;
    display: inline-block;
    min-width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: black;
    text-shadow: 0 0 6px #fff;

}

.Home .Header .matlack::after {
    content: 'Provided by Matlack Photography';

    position: absolute;
    bottom: 15px;
    right: 15px;
    white-space: pre;

    font-size: 11px;
}

.Home .Header .matlack img {
    display: block;
}