/* Noah Klein */

@import './themes.css';

.NavBar {
    position: sticky;

    display: flex;
    align-items: center;

    width: 100%;
    height: auto;

    background-color: var(--buckeye-scarlet);

    padding: 0 clamp(0px, 5vw, 260px);
    /* Ensure padding is included in total width */
    box-sizing: border-box;

    z-index: 20;
}



.sticky {
    top: 0;
}

.NavBar a {
    padding: 17px clamp(5px, 2vw, 15px);
    color: var(--buckeye-silver);
    text-decoration: none;
    transition: color 0.3s;
}

.NavBar a:hover {
    color: white;
}