/* Noah Klein */

@import './themes.css';

.NavBar {
    position: sticky;

    display: flex;
    align-items: center;

    width: 100%;
    height: auto;

    background-color: var(--buckeye-scarlet);



    z-index: 20;
}

.sticky {
    top: 0;
}

.NavBar a {
    padding: 17px min(max(2vw, 5px), 15px);
    color: var(--buckeye-silver);
    text-decoration: none;
    transition: color 0.3s;
}

.NavBar a:hover {
    color: white;
}