/* Noah Klein */

@import './themes.css';

:root {
    --horizontal-text-padding: clamp(15px, 10vw, 260px);
}



.Section {
    width: 100%;
    height: fit-content;

    background-color: var(--buckeye-silver);
    padding-top: 70px;

    text-align: start;
    text-wrap: pretty;
}

.Section p {
    margin: 0;
    padding: 2em var(--horizontal-text-padding) 2em var(--horizontal-text-padding);
}

.Section h2 {
    margin: 0;
    padding: 0;
    padding-left: var(--horizontal-text-padding);
}



.AboutUs,
.TeamMembers,
.Sponsors {
    width: 100%;
    z-index: 15;
}

.AboutUs .team-names {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AboutUs .team-display-holder {
    min-height: 285px;
}




.table-holder {
    margin: 32px 0;
    padding: 0 var(--horizontal-text-padding);
}

.team-table {
    width: 75%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
}

.team-table thead {
    background-color: var(--buckeye-scarlet);
    color: var(--buckeye-silver);
}

.team-table th,
.team-table td {
    padding: 0.75em;
    border: 1px solid var(--buckeye-silver);
    text-align: left;
}

.team-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.team-table tbody tr:hover {
    background-color: #ddd;
}













.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--buckeye-silver);
    background-color: var(--buckeye-scarlet);

    height: fit-content;

    z-index: 15;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;


    margin-top: 350px;
}

.Footer a {
    color: var(--buckeye-silver);
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s ease;
    /* Smooth color transition */
}

.Footer a:hover,
.Footer a:focus {
    color: white;
    text-decoration: underline;
    /* Add underline on hover/focus */
}