/* Noah Klein */

.Sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Sponsors .container {
    padding: 3rem;

    flex-wrap: wrap;

    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 2.5rem;
    width: fit-content;
    max-width: 65rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.Sponsors a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sponsors img {
    width: 100%;
    height: 100%;
    max-width: 275px;
    max-height: 150px;
    object-fit: contain;
}