/* Noah Klein */

@import "./themes";

.GaussianOhHell {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  background: var(--background);

  font-family: 'spotify-circular-bold';
}

.GaussianOhHell .flex-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.GaussianOhHell .flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GaussianOhHell #plot-holder {
  padding-top: 1vh;
}

.GaussianOhHell svg.function-plot {
  background-color: var(--background);
}

.GaussianOhHell svg.function-plot text {
  color: var(--text-primary);
  fill: var(--text-primary);
  font-family: "spotify-circular-book";
}

/* Bye bye top right legend */
.GaussianOhHell .top-right-legend {
  display: none;
}