/* Noah Klein */

@import "./themes";

.TrickSubmissionButton {
    --submit-trick-button-height: 40px;
    line-height: var(--submit-trick-button-height);
    height: var(--submit-trick-button-height);

    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    color: var(--text-primary);
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "spotify-circular-book";
}

.TrickSubmissionButton:hover {
    background-color: var(--plot-background);
}