/* Noah Klein */

@import './themes.css';

.VexU {
    background-color: var(--buckeye-silver);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-family: buckeye-sans;
    color: var(--buckeye-scarlet);
}

@font-face {
    font-family: 'buckeye-sans';
    src: local("BuckeyeSans2-Black"),
        url('$fonts/BuckeyeSans2-Black.woff2') format('woff2');
}