/* Noah Klein */

@import '../themes.css';

:root {
    --horizontal-text-padding: clamp(15px, 10vw, 260px);
}


.TeamMembers,
.AboutUs,
.Sponsors {
    width: 100%;
    height: fit-content;

    background-color: var(--buckeye-silver);
    padding-top: 70px;

    text-align: start;
    text-wrap: pretty;
    z-index: 15;
}

.TeamMembers p,
.AboutUs p,
.Sponsors p {
    margin: 0;
    padding: 2em var(--horizontal-text-padding) 2em var(--horizontal-text-padding);
}

.TeamMembers h2,
.AboutUs h2,
.Sponsors h2 {
    margin: 0;
    padding: 0;
    padding-left: var(--horizontal-text-padding);
}