/* Noah Klein */

.Sponsors section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.Sponsors div {
    display: flex;
    padding: 3rem;
    background-color: #f9f9f9;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    text-align: center;
    width: fit-content;
    max-width: 60rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Sponsors a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sponsors img {
    max-width: 275px;
    max-height: 150px;
    object-fit: contain;
}