/* Noah Klein */

.TeamRoller {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    position: relative;
    width: clamp(250px, 65vw, 364px);
    margin: auto;

    border-radius: 12px;
    background-color: rgba(228, 151, 151, 0.459);
    padding: 20px;
}

.TeamRoller .list {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    font-size: calc(clamp(250px, 65vw, 364px)/25);

}

.TeamRoller .list-item {
    padding: 5px 10px;
    cursor: pointer;
}

.TeamRoller .team-name {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.TeamRoller .awards {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.TeamRoller .award-item {
    margin-bottom: 5px;
    font-size: 100%;
}



@keyframes inAnimation {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 100%;
    }
}

@keyframes outAnimation {
    0% {
        max-width: 100%;
    }

    100% {
        max-width: 0;
    }
}