/* Noah Klein */

.Footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

  background: linear-gradient(to bottom, var(--deep-rose), var(--buckeye-scarlet));

  color: white;
  padding: 40px 20px;
  width: 100%;

  box-sizing: border-box;
}

.Footer a {
  color: var(--buckeye-silver);
  transition: color 0.25s ease-out;
}

.Footer a:hover {
  color: var(--deep-black);
}

.Footer .icons a {
  text-decoration: none;
}

.Footer .logo {
  position: relative;
  height: 3rem;
  user-select: none;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 1));
}

.Footer .footer-section .custom-icon {
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(115deg)
    brightness(102%) contrast(103%);
  user-select: none;
}

.Footer .footer-section .custom-icon:hover {
  filter: brightness(0) saturate(100%) invert(0%) sepia(3%) saturate(217%) hue-rotate(318deg)
    brightness(108%) contrast(84%);
}

.Footer span {
  margin: 0 5px;
}

.Footer .footer-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  justify-content: space-between;
}

.Footer .footer-section {
  flex: 1;
  max-width: none;
}

.Footer.Footer .footer-section.right {
  display: inline-flex;
  justify-content: right;
}

.Footer .footer-section h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.Footer .footer-section.centered {
  text-align: center;
}

.Footer .footer-section p {
  margin: 6px 0;
  line-height: 1.6;
}

.Footer .footer-section.right a {
  height: fit-content;
  margin-top: 1.3em;
}

.Footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 40px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.Footer .footer-bottom p {
  margin: 0;
  font-size: 13px;
}

.Footer .footer-bottom .copyright {
  font-size: 0.85rem;
  opacity: 0.8;
  white-space: nowrap;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .Footer .footer-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .Footer .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
