/* Noah Klein */

.Heardle .Player {
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  position: fixed;
  /* Position the container */
  bottom: 0;
  /* Align it to the bottom */
  width: 100%;
  /* Full width */
}

.Heardle .Player .media-info {
  bottom: 0;
  /* Aligns the child div to the bottom */
  left: 0;
  right: 0;
  /* Adjusts the width to fill the parent container */
  display: flex;
  align-items: flex-start;
  background-color: rgba(40, 51, 63, 0.75);
  /* Set your desired background color */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  /* Include padding in the width calculation */
}

.Heardle .Player .media-image img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  margin-right: 20px;
}

.Heardle .Player .media-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
}

.Heardle .Player .media-name,
.Heardle .Player .media-author,
.Heardle .Player .media-length {
  /* Remove default anchor styling */
  text-decoration: inherit;
  color: inherit;

  text-align: left;
  margin: 0;
}

.Heardle .Player .media-name:hover,
.Heardle .Player .media-author:hover {
  /* Remove default anchor styling */
  text-decoration: underline;
}


.Heardle .Player .media-name {
  font-family: spotify-circular-bold;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 4px;
}

.Heardle .Player .media-author {
  font-family: spotify-circular-book;
  font-size: 16x;
  margin-bottom: 6px;
}

.Heardle .Player .count-and-toggle {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Heardle .Player .media-length {
  font-family: spotify-circular-book;
  font-size: 12px;
  margin: auto;
}

.Heardle .Player .spotify-full-logo {
  height: 26px;
  width: 85px;
}


.Heardle .Player .play-pause {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;


  &.paused {
    border-style: double;
    border-width: 0px 0 0px 60px;
  }

  &:hover {
    border-color: transparent transparent transparent #404040;
  }

  transform: scale(0.7) translateX(7px);
}

.Heardle .Player a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}