/* Noah Klein */

:root {
  --deep-black: #151515;
  --buckeye-scarlet: #BA0C2F;
  --anchor-orange: #da621d;
  --deep-rose: #C73659;
  --buckeye-silver: #EEEEEE;
  --buckeye-gray: #a7b1b7;
}

body {
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: buckeye-sans;
}

#error-page {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--deep-black);
  background-color: var(--buckeye-gray);
}

@font-face {
  font-family: 'buckeye-sans';
  src: local("BuckeyeSans2-Black"),
    url('$fonts/BuckeyeSans2-Black.woff2') format('woff2');
}