/* Noah Klein */

.NavBar {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    width: 100%;
    height: auto;

    background-color: var(--buckeye-scarlet);

    padding: 0 clamp(0px, 5vw, 75px);
    /* Ensure padding is included in total width */
    box-sizing: border-box;

    z-index: 20;
}

.NavBar.NavBar a {
    padding: 17px clamp(5px, 2vw, 15px);
    color: var(--buckeye-silver);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.NavBar img {
    height: 40px;
    filter: drop-shadow(0px 0px 1rem var(--deep-rose));
    padding-right: 1rem;
}

.NavBar a:hover {
    color: var(--deep-black);
}